@{
    ViewData["Title"] = "Статьи и блоки";
    var article = (Article)ViewData["article"];

    var blocks = (List<Block>)ViewData["blocks"];
    var filteredBlocks = blocks.Where(b => b.ArticleId == (int)ViewData["ArticleId"]).OrderBy(b => b.Order);
}

<section class="add-block-page">
    <div class="container">
        <h2>Редактирование блоков для @ViewData["ArticleTitle"]</h2>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" asp-controller="Home" asp-action="Index">Главная</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" asp-controller="Courses" asp-action="ShowCourses">Курсы</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" asp-controller="Articles" asp-action="ShowArticles" asp-route-id="@ViewData["CourseId"]">Статьи по курсу</a></li>
            <li class="breadcrumb-item active">Редактирование</li>
        </ol>

        <a class="add-button-span-text" asp-controller="Blocks" asp-action="Create" asp-route-id="@article.Id">
            <span class="d-flex align-items-center add-button-span">
                <i class="fas fa-plus-circle add-article-button mr-2"></i>
                <span>Добавить новую кнопку</span>
            </span>
        </a>

        <ul class="list-unstyled">
            @foreach (var block in filteredBlocks)
            {
                <div class="row">
                <li class="d-flex align-items-center">
                        @if (block.Type == BlockType.Image)
                        {
                        <img src="~/images/@Html.DisplayFor(modelItem => block.Content)" class="card-img-top">
                        }
                        else if(block.Type == BlockType.Text)
                        {
                            <p class="mr-2">@block.Content</p>
                        }
                        else
                        {
                        @* <iframe src="@block.Content"></iframe> *@
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/@block.Content" frameborder="0" allowfullscreen></iframe>
                        }

                    <a class="add-button-span-text" asp-controller="Blocks" asp-action="Delete" asp-route-id="@block.Id">
                        <span class="d-flex align-items-center add-button-span">
                            <i class="fas fa-trash-alt add-article-button mr-2"></i>
                            <span>Удалить блок</span>
                        </span>
                    </a>

                    <a class="add-button-span-text" asp-controller="Blocks" asp-action="Edit" asp-route-id="@block.Id">
                        <span class="d-flex align-items-center add-button-span">
                            <i class="fas fa-edit add-article-button mr-2"></i>
                            <span>Изменить</span>
                        </span>
                    </a>

                    <a class="add-button-span-text" asp-controller="Blocks" asp-action="RaiseBlockUp" asp-route-id="@block.Id">
                        <span class="d-flex align-items-center add-button-span">
                            <i class="fas fa-arrow-up add-article-button mr-2"></i>
                            <span>Переместить вверх</span>
                        </span>
                    </a>

                    <a class="add-button-span-text" asp-controller="Blocks" asp-action="LowerBlockDown" asp-route-id="@block.Id">
                        <span class="d-flex align-items-center add-button-span">
                            <i class="fas fa-arrow-down add-article-button mr-2"></i>
                            <span>Переместить вниз</span>
                        </span>
                    </a>

@*                     <a asp-controller="Blocks" asp-action="Delete" asp-route-id="@block.Id" class="btn btn-primary">Удалить блок</a> 
                    <a asp-controller="Blocks" asp-action="Edit" asp-route-id="@block.Id" class="btn btn-primary">Изменить</a>

                    <a asp-controller="Blocks" asp-action="RaiseBlockUp" asp-route-id="@block.Id" class="btn btn-primary mr-1">Переместить вверх</a>
                    <a asp-controller="Blocks" asp-action="LowerBlockDown" asp-route-id="@block.Id" class="btn btn-primary">Переместить вниз</a>  *@
                </li>
                </div>
            }
        </ul>
    </div>
</section>

@* <a asp-controller="Blocks" asp-action="Create" asp-route-id="@article.Id">Добавить новую кнопку</a> *@