@model List<LearnEnglish.Models.Answer>

@{
    ViewData["Title"] = "AddAnswers";
    var question =  (Question)ViewData["CreatedQuestion"];
    var answers = (List<Answer>)ViewData["Answers"];

    int numberOfAnswersInTestType = 4;
    int numberOfAnswersInWrittenType = 1;

    int numberOfAnswers = 0;
    bool isChecked = false;
    string hiddenStyle = "";
    int maxChecked = 1;

    if(question.Type == QuestionType.SingleChoice)
    {
        numberOfAnswers = numberOfAnswersInTestType;
        maxChecked = 1;
    }
    else if(question.Type == QuestionType.Written)
    {
        numberOfAnswers = numberOfAnswersInWrittenType;
        isChecked = true;
        hiddenStyle = "display: none;";
    }
    else if (question.Type == QuestionType.MultipleChoice)
    {
        numberOfAnswers = numberOfAnswersInTestType;
        maxChecked = numberOfAnswers;
    }
}

<section class="create-element">
    <div class="container">    
        <h2>@question.Text</h2>
        <h2>Добавление ответов</h2>
    
        <form asp-action="AddAnswers" method="post">

            @for (var i = 0; i < numberOfAnswers; i++)
            {
                <div class="form-group">
                    <label asp-for="@Model[i].Text" class="control-label"></label>
                    <input asp-for="@Model[i].Text" class="form-control" />
                    <span asp-validation-for="@Model[i].Text" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="@Model[i].IsCorrect" class="form-check-input" checked="@isChecked" value="true" style="@hiddenStyle" />
                    <label class="form-check-label" asp-for="@Model[i].IsCorrect" style="@hiddenStyle">Верный ответ</label>
                </div>
                <input type="hidden" asp-for="@Model[i].Id" />
                <input type="hidden" asp-for="@Model[i].QuestionId" value="@question.Id" />
            }

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        // var maxChecked = 1;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;

                if (checkedCount >= @maxChecked) {
                    checkboxes.forEach(function (cb) {
                        if (!cb.checked) {
                            cb.disabled = true;
                        }
                    });
                } else {
                    checkboxes.forEach(function (cb) {
                        cb.disabled = false;
                    });
                }
            });
        });
    });
</script>
